<section class="blah">
  <div class="covix-member">
    <a href="#" data-profile="modal-wynn">
      <div class="covix-thumb wynn">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-tom">
      <div class="covix-thumb tom">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-boogie">
      <div class="covix-thumb boogie">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-andy">
      <div class="covix-thumb andy">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-billy">
      <div class="covix-thumb billy">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-hanzo">
      <div class="covix-thumb hanzo">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-ellis">
      <div class="covix-thumb ellis">
      </div>
    </a>
  </div>
  <div class="covix-member">
    <a href="#" data-profile="modal-ben">
      <div class="covix-thumb ben">
      </div>
    </a>
  </div>
</section>
<div class="md-modal md-effect-5" id="modal-wynn">
  <div class="md-content">
    <h3>WYNN</h3>
    <div>
      <p class="covix_font">
        Everything begins with music. Music was, is, and will continue to be the driving force
        and inspiration behind everything I do. I grew up listening to all kinds of music: Hip Hop,
        Jazz, Rock, Blues, R&B, Classical, even Country. All the music I listened to drove me to search
        out even more genres, artists and so on. Music opened my eyes to all different types of cultures.
        It wasn't until high school though when I first learned of the true Hip Hop culture. There were a
        few kids (one of which who became my crew mate and closest friend) that would break in the hallways
        of my high school. At the time, I really didn't care much for the dance, but the music.. it was stuff
        I'd never heard before. 'Shaft in Africa' by Johnny Pate was one of the first breaks I fell in love
        with. I started digging for more music like that over the years, and then towards the end of my senior
        year I stumbled across a documentary called 'The Freshest Kids.' After watching that, learning of the
        true Hip Hop culture, and discovering even more music, I became fully immersed in it. I dabbled in all
        the elements at first, but BBoying swept me in. It's been almost 10 years now and I continue to dance,
        constantly looking for music, traveling to compete, training and growing with the friends and family
        that I've acquired over the years. It's become more than just a hobby or even a lifestyle. It's my LIFE.
      </p>
      <p>'Rumble young man.. rumble' - Wendell 'Wynn' Lee Callaway IV</p>
      <button class="md-close covix">close</button>
    </div>
  </div>
</div>

<div class="md-modal md-effect-5" id="modal-billy">
  <div class="md-content">
    <h3>YACHI</h3>
    <div>
      <p class="covix_font">
        I started breakin with my family doing power moves when I was 12 years old.
        The gradual progression of turning into a bboy happened when I went to college
        and was introduced to the scene.   There are a lot of reasons why I break: sense
        of sanctuary and release when needed most, confidence, fun, and many more.  Over
        the years I've learned many life lessons through the practice of this dance and
        have had many highs and lows but there is one reason why I keep going; I love doing it.
      </p>
      <button class="md-close covix">close</button>
    </div>
  </div>
</div>

<div class="md-modal md-effect-5" id="modal-andy">
  <div class="md-content">
    <h3>NHI</h3>
    <div>
      <p class="covix_font">
        It all began with spartanic rockers vs style elements battle of the year 98. This was the
        first time I witnessed breaking. My friends and I would mess around here and there but it was never
        anything serious. Years later I get into chorergraphy when I was living in San Deigo for the summer.
        I trained at Culture Shock San Diego. When I returned to Colorado I commited myself to choregraphy until
        I met a couple of bboys in college (Tom, Ben, and Katya). Overtime I developed a new passion for breaking
        and since then I have commited myself to this culture and craft.
      </p>
      <button class="md-close covix">close</button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>
