<section class="music-player">
    <div class="play-icon" data-track="6003799" data-title="name">
    </div>
    <div  class="play-icon" data-track="56540191" data-title="name">
    </div>
    <div  class="play-icon" data-track="9079991" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
    <div  class="play-icon" data-track="36337820" data-title="name">
    </div>
</section>
