<section class="music-player">
  <div class="click-song play-icon">
  </div>
  <br>
  <div class="click-song play-icon">
  </div>
  <br><div class="click-song play-icon">
  </div>
  <br>
  <div class="click-song play-icon">
  </div>
  <br>
  <div class="click-song play-icon">
  </div>
  <br>
  
</section>
