<section class="music-player">
    <div class="play-icon">
      <i data-track="6003799"></i>
    </div>
    <div  class="play-icon">
      <i data-track="56540191"></i>
    </div>
    <div  class="play-icon">
      <i data-track="9079991"></i>
    </div>
    <div  class="play-icon">
      <i data-track="36337820"></i>
    </div>
</section>
