<section class="music-player">
    <div class="play-icon" data-track="187260330" data-title="name"></div>
    <h5>Winter Soulstice - Yachi</h5>

    <div  class="play-icon" data-track="137219642" data-title="name"></div>
    <h5>The Weeknd - Wanderlust - Snakehips</h5>

    <div  class="play-icon" data-track="159221740" data-title="name"></div>
    <h5>Disclosure x Sam Smith - Latch (Cover) by Daniela Andrade</h5>

    <div  class="play-icon" data-track="181644643" data-title="name"></div>
    <h5>Pretend - Tinashe (abhi//dijon remix)</h5>

    <div  class="play-icon" data-track="162989287" data-title="name"></div>
    <h5>Raury - Cigarette Song (Snakehips Remix)</h5>

    <div  class="play-icon" data-track="8773980" data-title="name"></div>
    <h5>Lisa Shaw - grown apart</h5>

    <div  class="play-icon" data-track="174404087" data-title="name"></div>
    <h5>Let Me Be Ft. Bo Saris - Bondax</h5>

</section>
