

.covix-layout {
  font-family: "NexieOne";
  @include span(12 of 12);
  div.images {
    @include span(2 of 12);
    margin-left: span(2 of 12);
  }
  div.footage {
    @include span(6 of 12);
    margin-left: span(3 of 12);
  }
}

.covix-title {
  font-family: "NexieOne";
  color: $covix-color;
  margin-top: 20px;
  @include container(80%);

}

.covix-member {
  width: 100px;
  height: 100px;
}

.covix-member {
  opacity: 0;
  -webkit-animation: image-fade 6s 1s forwards;
}

@-webkit-keyframes image-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footage {
  opacity: 0;
  -webkit-animation: video-slide 3s 1s forwards;
}

@-webkit-keyframes video-slide {
  0% {
    opacity: 0;
    padding-top: 500px;
  }
  100% {
    opacity: 1;
  }
}

.covix-thumb {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  transition: background-image .5s ease;
}


.wynn {
  background-image: url('/images/wynnback.jpg');
}

.wynn:hover {
  background-image: url('/images/wynnfront.jpg');
}

.billy {
  background-image: url('/images/billyback.jpg');
}

.billy:hover {
  background-image: url('/images/billyfront.jpg');
}

.tom {
  background-image: url('/images/tomback.jpg');
}

.tom:hover {
  background-image: url('/images/tomfront.jpg');
}

.hanzo {
  background-image: url('/images/hanzoback.jpg');
}

.hanzo:hover {
  background-image: url('/images/hanzofront.jpg');
}

.boogie {
  background-image: url('/images/boogieback.jpg');
}

.boogie:hover {
  background-image: url('/images/boogiefront.jpg');
}

.ellis {
  background-image: url('/images/ellisback.jpg');
}

.ellis:hover {
  background-image: url('/images/ellisfront.jpg');
}
.andy {
  background-image: url('/images/andyback.jpg');
}

.andy:hover {
  background-image: url('/images/andyfront.jpg');
}

.ben {
  background-image: url('/images/benback.jpg');
}

.ben:hover {
  background-image: url('/images/benfront.jpg');
}

.ember-view.profile {
  height: 0;
}


.covix_font {
  text-align:justify;
  text-justify:inter-word;
  padding: 5px;
}

iframe {
  max-width: 100%;
}
