@mixin label {
  color: #39edd4;
  &:hover{
    color: white;
  }
}

.portfolio-page {
  padding-top: 2%;
}

section {
  @include span(6 of 12);
  margin-left: span(2 of 12);
}

section.financial-dashboard a {
  @include label;
}

section.gcamp a {
  @include label;
}
