@font-face{
  font-family: 'Genius-100-Thin';
  src: url('/fonts/Genius-100-Thin.otf');
}

@font-face {
  font-family: 'Plexifont';
  src: url('/fonts/plexifont.ttf');
}

@font-face {
  font-family: 'NexieOne';
  src: url('/fonts/NixieOne-Regular.otf');
}

@font-face {
  font-family: 'Ostrich';
  src: url('/fonts/ostrich-regular.ttf');
}
