@mixin label {
  color: $portfolio-color;
  &:hover{
    color: white;
  }
}

.portfolio-page {
  padding-top: 2%;
}

.portfolio-page section {
  @include span(6 of 12);
  margin-left: span(2 of 12);
  margin-bottom: 50px;
  opacity: 0;
  -webkit-animation: projectfade 2s .2s forwards;
  animation: projectfade 2s .2s forwards;
}

@-webkit-keyframes projectfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes projectfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.financial-dashboard a {
  @include label;
}

section.gcamp a {
  @include label;
}

section.blog a {
  @include label;
}

section.personal-website a {
  @include label;
}

section.word-analyzer a {
  @include label;
}


div.project-container img {
    max-width: 100%;
    border: 5px solid $portfolio-color;
}

div.project-summary {
  border-left: 2px solid white;
  padding-left: 10px;
}


.status-complete {
  color: green + 100;
}

.status-inprocess {
  color: yellow + 100;
}

.current-project {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid gray;
}


.new-title {
  color: $portfolio-color;
}
