@import 'reset';
$susy: (
gutters: 0,
);

@import 'fonts';
@import 'bower_components/susy/sass/susy';
@import 'colors';
@import 'profile_component';
@import 'buttons';
@import 'resume';
@import 'music';
@import 'home';
@import 'contact';
@import 'code';
@import 'covix-animate';
@import 'covix';
@import 'portfolio';


html, body {
  height: 100%;
  font-family: 'Quattrocento Sans';
}

body {
  @include span(12 of 12);
  color: white;
}

.ember-view {
  height: 100%;
}

img {
  max-width: 100%;
}

aside {
  @include span(2 of 12);
  background: black;
  height: 100%;
  position: fixed;
  color: white;
}

aside nav ul li {
  font-family: 'Ostrich';
  font-size: 1.2em;
  text-align: center;
  padding-top: 10%;
}

aside nav ul.contact.list {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 4%;
  text-align: center;
}

aside nav ul.contact.list li{
  display: inline;
  padding-left: 5px;
}

a {
  color: white;
  text-decoration: none;
}

aside nav li:nth-child(1) {
transition: .2s ease;
  a:hover {
    color: $home-color;
  }
}

aside nav li:nth-child(2) {
transition: .2s ease;
  a:hover {
    color: $music-color;
  }
}


aside nav li:nth-child(3) {
transition: .2s ease;
  a:hover {
    color: $covix-color;
  }
}

aside nav li:nth-child(4) {
transition: .2s ease;
  a:hover {
    color: $resume-color;
  }
}

aside nav li:nth-child(5) {
  transition: .2s ease;
  a:hover {
    color: $code-color;
  }
}
aside nav li:nth-child(6) {
  transition: .2s ease;
  a:hover {
    color: $portfolio-color;
  }
}

aside img.icon-size {
  height: 12%;
  width: 12%;
}

main.home-page {
  @include span(10 of 12);
  margin-left: span(2 of 12);
  height: 100%;
  background-image: url(/images/homebg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main.music-page {
  @include span(10 of 12);
  margin-left: span(2 of 12);
  height: 100%;
  background-image: url(/images/lion.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main.covix-page {
  @include span(10 of 12);
  margin-left: span(2 of 12);
  height: 100%;
  background-image: url(/images/lizard.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow:  scroll;
}

main.resume-page {
  @include span(10 of 12);
  margin-left: span(2 of 12);
  height: 100%;
  background-image: url(/images/turtle.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow:  scroll;
}

main.code-page {
  @include span(10 of 12);
  margin-left: span(2 of 12);
  height: 100%;
  overflow:  scroll;
  background-image: url(/images/duck.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main.contact-page {
  @include span(10 of 12);
  margin-left: span(2 of 12);
  height: 100%;
  background-image: url(/images/duck.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main.nest-page {
  font-family: 'Ostrich';
  @include span(10 of 12);
  height: 100%;
  margin-left: span(2 of 12);
  background: black;
}

main.portfolio-page {
  font-family: 'Ostrich';
  @include span(10 of 12);
  margin-left: span(2 of 12);
  background: black;
}
