<aside class="content">
  <nav>
    <img src="/icons/cxkw_logo.png">
    <ul>
      <li>{{#link-to 'home'}}H O M E{{/link-to}}</li>
      <li>{{#link-to 'code'}}D E V - S T O R Y{{/link-to}}</li>
      <li>{{#link-to 'portfolio'}}P O R T F O L I O{{/link-to}}</li>
      <li>{{#link-to 'music'}}M U S I C{{/link-to}}</li>
      <li>{{#link-to 'covix'}}C O V I X{{/link-to}}</li>
      <li>{{#link-to 'resume'}}R E S U M E{{/link-to}}</li>
    </ul>
    <ul class="contact list">



      <li><a href="mailto:nhi.atn@gmail.com"><img src="/icons/email_icon.png" class="icon-size" ></a></li>
      <li><a target="_blank" href="https://github.com/AndyNhi"><img src="/icons/git_icon.png" class="icon-size" ></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/andynhi"><img src="/icons/linkedin_icon.png" class="icon-size" ></a></li>
      <li><a target="_blank" href="https://twitter.com/nhic0tine"><img src="/icons/twitter_icon.png" class="icon-size" ></a></li>
    </ul>
  </nav>
</aside>
{{outlet}}
