<h2 id='title'>Welcome to Ember.js</h2>


<section>
  Foo bar baz
</section>
<section>
  Foo bar baz
</section>
<section>
  Foo bar baz
</section>
<section>
  Foo bar baz
</section>
<section>
  Foo bar baz
</section>
<section>
  Foo bar baz
</section>
<section>
  Foo bar baz
</section>


<aside>
  span 4
</aside>


{{outlet}}
