<main class="code-page">
    <section class="story">
    <h2>the code journey</h2>
    <p>
      A year ago I was reflecting on the career path I was on and where I wanted my next step to take me. I worked hard, yet my merit felt empty. I was looking for a challenge that would excite me and ignite a passion for what I would do on a daily basis. A friend of mine recommended I look into coding programs. I started off by taking night courses at Davinci with Jason Noble as our instructor. After taking three months of the Davinci Program, I was awakened with a new obsession to become a developer. However, the one program wasn't enough to gain the right knowledge for success. I realized that in order to fully immerse myself into the culture I needed to find more time for my new passion. It was then that I decided to work 6 months to raise enough finances for gSchool. Currently, I am about three months into the gSchool program. My instructors, Jeff Dean and Aaron Gray, are incredible. Becoming part of this dev community has truly been one of the best decisions of my life. I can't wait to evolve as a developer and nurture my passion for code.
    </p>
  </section>

  <section class="resources">
    <h2>helpful resources</h2>
    <h5>blog, sites, books I highly recommend as a junior dev</h5>
    <ul>
      <li><a target="blank" href="https://leanpub.com/everydayrailsrspec"><button class="code">everyday rails testing with rspec</button></a></li>
      <li><a target="_blank" href="https://rubymonk.com/"><button class="code">ruby monk</button></a></li>
      <li><a target="_blank" href="http://exercism.io/"><button class="code">exercism</button></a></li>
      <li><a target="_blank" href="http://www.ndpsoftware.com/git-cheatsheet.html#loc=remote_repo;"><button class="code">git cheat sheet</button></a></li>
      <li><a target="_blank" href="http://purecss.io/"><button class="code">pure css modules</button></a></li>
      <li><a target="_blank" href="https://www.codewars.com"><button class="code">code wars</button></a></li>
      <li><a target="_blank" href="http://jamesgolick.com/2008/1/5/an-introduction-to-ruby-s-enumerable-module.html"><button class="code">ruby enumerables by james golick</button></a></li>
      <li><a target="_blank" href="http://codepen.io/patterns/?utm_content=bufferba024&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"><button class="code">code pen design tools</button></a></li>
    </ul>
  </section>
</main>

{{outlet}}
