<main class="contact-page">

  <section>
    <h1>Feel free to email me a message</h1>
    <h2>{{input type="text" value=comment on="enter"}}</h2>
    <h1>{{comment}}</h1>
  </section>


</main>

{{outlet}}
