<main class="contact-page">
  <section>
    <h1>Inactive Email Service Sorry!</h1>
    <h2>{{input type="text" value=comment on="enter"}}</h2>
    <h1>{{comment}}</h1>
  </section>
</main>
{{contact-sendgrid}}

{{outlet}}
