<main class="covix-page">
  <section class="covix-title">
    <h1>Covix Members + Footage</h1>
  </section>

  <section class="images">
    {{covix-profile}}
    <section class="footage">
    <h2>The Meaning</h2>
    <h6>Covix is the combination of the words "Covert" + "Six". Covert was a group we developed in order to
      exchange conceptual dance ideas. Eventually we all decided to compete together at King of Hearts. The naturally
      feeling of all us dancing together lead into the development of Covix. The second word six was fused into covert
      from the six letters in the word "family". Treating eachother like family comes first.</h6>
      <iframe src="//player.vimeo.com/video/119719415?color=ff9933&title=0&byline=0&portrait=0" width="780" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe src="//player.vimeo.com/video/94654556?color=ff9933&title=0&byline=0&portrait=0" width="780" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe src="//player.vimeo.com/video/90921609?color=ff9933&title=0&byline=0&portrait=0" width="780" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </section>
  </section>












  </main>

  {{outlet}}
