<main class="covix-page">

  {{covix-profile}}

  <section class="covix-video">
    <iframe src="//player.vimeo.com/video/90921609?color=ff9933&amp;title=0&amp;byline=0&amp;portrait=0" width="1274" height="620" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </section>

</main>


{{outlet}}
