<main class="nest-page">
  <h1> NEST PROJECT </h1>
  <ul>
    <li>02/11/2005</li>
      <ul>
        <h1> Discoveries & Challenges </h1>
        <li>the sample on the nest website uses a deprecated method from firebase (.auth). the new function is (authWithCustomToken)</li>
        <li>the successful request requires three arguments (code + clientid + secret token)</li>
        <li>updating ember cli to 0.1.12 in order to install oauth 2. update overwrites most of my added dependecies i.e sass, susy, dotenv. </li> 
        <br>
        <h1>Next Steps</h1>
        <li>next stages require me to incorporate oauth 2 in ember cli in order to retrieve the temporary code needed for a token-key</li>
        <li>setup a repository on firebase, which handles auth request parameters</li>
      </ul>
    <li>
  </ul>
</main>
{{outlet}}
