<main class="portfolio-page">

  <section class="new-projects">
    <h1 class="new-title">New Projects</h1>
    <div class="project-summary">
      <h4>Status: <span class="status-new">Early Stages</span></h4>
      <h1>Colorado Hip Hop Connection</h1>
      <div class="current-project">
        <h4>Summary</h4>
        <p>Buliding an events page for the colorado hip hop dance community.</p>
        <h4>Link me to <a target="_blank" href="https://co-hip-hop-cxn.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/hiphop_connection">Github</a></h4>
      </div>
    </div>

    <div class="project-container">
      <img src="/project/cohhcxn.png"/>
    </div>

  </section>

  <section class="word-analyzer">
    <h1><a target="_blank" href="https://word-analyzer.herokuapp.com/">Word Analyzer</a></h1>

    <div class="project-summary">
      <h2>What does it do?</h2>
      <h4>Parse simple 'text' file and generate a literature improvement report.</h4>
      <h4>Link me to <a target="_blank" href="https://word-analyzer.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/word_analysis">Github</a></h4>
      <h4>Status: <span class="status-inprocess">In-Process</span></h4>
      <h4>Build: Ruby on Rails, MongoDB, Mongoid, Zurb Foundation</h4>
    </div>

    <div class="project-container">
      <img src="/project/webanalyzer.png"/>
    </div>
  </section>

  <section class="personal-website">
    <h1><a target="_blank" href="https://personal-atn.herokuapp.com/">Personal Website</a></h1>

    <div class="project-summary">
      <h2>What does it do?</h2>
      <h4>Provide you with the coolest information about me :).</h4>
      <h4>Link me to <a target="_blank" href="https://personal-atn.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/personal_website">Github</a></h4>
      <h4>Status: <span class="status-inprocess">In-Process</span></h4>
      <h4>Build: Ember CLI, Sass, Susy, Html5</h4>
    </div>

    <div class="project-container">
      <img src="/project/personal.png"/>
    </div>
  </section>

  <section class="rantly">
    <h1><a target="_blank" href="https://rantly-client-atn.herokuapp.com/">Rantly</a></h1>

    <div class="project-summary">
      <h2>What does it do?</h2>
      <h4>Creates user rants in a single page application the app is connected to a rails backend.</h4>
      <h4>Link me to <a target="_blank" href="https://rantly-client-atn.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/rantly-atn">Github</a></h4>
      <h4>Status: <span class="status-complete">Complete</span></h4>
      <h4>Build: Ruby on Rails, Ember CLI, Susy</h4>
    </div>

    <div class="project-container">
      <img src="/project/rantly.png"/>
    </div>
  </section>

  <section class="financial-dashboard">
    <h1><a target="_blank" href="https://financial-dashboard.herokuapp.com/">financial dashboard</a></h1>
    <div class="project-summary">
      <h2>What does it do?</h2>
        <h4>This project collects trending $Cash Tags from the financial market using both the twitter
          and stocktwit api. In addition, it pulls financial information from yahoo api for performance based measurments.
        </h4>
        <h4>Link me to <a target="_blank" href="https://financial-dashboard.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/financial_dashboard">Github</a></h4>
        <h4>Status: <span class="status-complete">Complete</span></h4>
        <h4>Build: Ruby on Rails, HTML5, Bootstrap, CSS, SCSS, Stock Twit API, Twitter Api, Yahoo Api</h4>
      </div>
    <div class="project-container">
      <img src="/project/fd-image.png"/>
    </div>
  </section>

  <section class="blog">
    <h1><a target="_blank" href="https://ember-blog-client.herokuapp.com/">Blog</a></h1>

    <div class="project-summary">
      <h2>What does it do?</h2>
        <h4>
          It generates blog post on client side while maintaining the data using rails as a backend. The model
          association is built both on the client-side and server-side.
        </h4>
        <h4>Link me to <a target="_blank" href="https://ember-blog-client.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/blog_client">Github Client</a> | <a  target="_blank" href="https://github.com/AndyNhi/blog">Github Server</a></h4>
        <h4>Status: <span class="status-complete">Complete</span></h4>
        <h4>Build: Ember CLI, Ruby on Rails, HTML5, CSS, SASS, Susy</h4>
      </div>

      <div class="project-container">
        <img src="/project/blog.png"/>
      </div>
    </section>

    <section class="gcamp">
      <h1><a target="_blank" href="https://mighty-gorge-8689.herokuapp.com/">gCamp</a></h1>

      <div class="project-summary">
        <h2>What does it do?</h2>
          <h4>
            Gcamp simulates similar functionality to base camp. The project covers authentication, authorization, database association, crud, testing, and api integration.
            The example we use has a user with project and tasks. The authorization is controlled by the users role i.e (admin or owner).
          </h4>
          <h4>Link me to <a target="_blank" href="https://mighty-gorge-8689.herokuapp.com/">Heroku</a> | <a  target="_blank" href="https://github.com/AndyNhi/gCamp">Github</a></h4>
          <h4>Status: <span class="status-complete">Complete</span></h4>
          <h4>Build: Ruby on Rails, Javascript, Jquery, Rspec, Capybara, HTML5, CSS, SCSS </h4>
        </div>

        <div class="project-container">
          <img src="/project/gcamp1.png"/>
        </div>
        <div class="project-container">
          <img src="/project/gcamp2.png"/>
        </div>
        <div class="project-container">
          <img src="/project/gcamp3.png"/>
        </div>
    </section>

</main>

{{outlet}}
