<main class="portfolio-page">

  <section class="financial-dashboard">
    <h1><a target="_blank" href="https://financial-dashboard.herokuapp.com/">financial dashboard</a></h1>
  </section>

  <section class="gcamp">
    <h1><a target="_blank" href="https://mighty-gorge-8689.herokuapp.com/">gCamp</a></h1>
  </section>


</main>

{{outlet}}
