<main class="resume-page">

  <section class="experience-education">
    <div class="download-resume">
      <a href="/file/resume-fullstack-atn.pdf" target="_blank">Download PDF</a>
    </div>
    <h1 class="bold">EDUCATION</h1>

    <h3 class="bold">GSCHOOL +  PROJECTS</h3>
    <p>Six month immersive program designed to equip developers with knowledge in server
       side builds, client side designs , data modeling, mvc frameworks, UI design, test driven
       development, agile workflow, pattern deconstruction, and debugging methods.</p>

    <h4>FINANCIAL DASHBOARD + RUBY ON RAILS
      <a href="https://financial-dashboard.herokuapp.com/">Heroku</a>
      <a href="https://github.com/AndyNhi/financial_dashboard">Github</a>
    </h4>

    <p>Finanical market dashboard which displays stock performance and trending
       cash tags. The application creates API request to twit, twitter and yahoo.</p>

    <h4>PERSONAL WEBSITE + EMBER
      <a href="https://personal-atn.herokuapp.com">Heroku</a>
    </h4>

    <p>Portfolio website created to improve and represent my client side design. The site will
      depict addtional details about my coding projects and my personal life. The build is Ember CLI, CSS, SASS, Susy.</p>

    <h4>GCAMP + ROR
      <a href="https://github.com/AndyNhi/gCamp">Github</a>
    </h4>

    <p>gSchool project designed to implement rspec testing, user authentication,
       CRUD, nested resources, model association, api integration, and authorization.</p>

    <h3 class="bold">DAVINCI CODERS</h3>
    <p>[01/14 - 03/14] 12 week nightly course covering ruby on rails, git, and ruby mine.</p>

    <h3 class="bold">UNIVERSITY OF COLORADO</h3>
    <p>[08/05 - 05/09] Degree: Finance & Info systems</p>

  </section>

  <section class="employment">

    <h1 class="bold">EMPLOYMENT</h1>

    <h4>LEPRINO FOODS</h4>
    <p>[08/11 - 09/14]</p>
    <p>Fully implemented SAP master data across three plants while managing system
      support tickets for live and non-live plants.</p>
    <p>Collaborated with testing, functional, and development team during ERP master data reporting
      system architecture.</p>

    <h4>ALPS FUNDS</h4>
    <p>[08/10 - 08/11]</p>
    <p>Reconcile cash funds and asset securities pertaining to equities, bonds, swaps, options, FX, mortgages, financing and futures.</p>

    <h4>INTERNSHIPS</h4>
    <ul>
      <li>TW Telecom: Corporate Financial Analyst</li>
      <li>Regional Transportation District: Budget Analyst</li>
      <li>XCEL Energy: Risk Management Analyst</li>
    </ul>

  </section>

</main>

{{outlet}}
